@keyframes animacao {
  0% {
    background-color: rgb(210, 195, 195)
  }

  25% {
    background-color: rgb(148, 12, 12);
  }

  50% {
    background-color: rgb(40, 29, 193);
  }

  75% {
    background-color: rgb(255, 255, 255);
  }

  100%{
    background-color: rgb(210, 195, 195);
  }
}

body {
  background-color: rgb(107, 72, 108);
}

.Venusaur {
  display: inline-block;
  background-color: rgb(210, 195, 195);
  border-radius: 5px;
  margin-left: 70px;
  animation-name: animacao;
  animation-duration: 5s;
  position: relative;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 2px black;
}

.Venusaur:after {
  position: absolute;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: -1;
  box-shadow: 0 5px 15px black;
}

.Venusaur:hover {
  transform: scale(1.2, 1.2);
}


.Texto1 {
  text-align: center;
  font-family: "Flexo-Demi", arial, sans-serif;
  font-size: 115%;
}

.Charizard {
  display: inline-block;
  background-color: rgb(210, 195, 195);
  border-radius: 5px;
  animation-name: animacao;
  animation-duration: 5s;
  position: relative;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 2px black;
}

.Charizard:after {
  position: absolute;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: -1;
  box-shadow: 0 5px 15px black;
}

.Charizard:hover {
  transform: scale(1.2, 1.2);
}

.Texto2 {
  text-align: center;
  font-family: "Flexo-Demi", arial, sans-serif;
  font-size: 115%;
}

.Blastoise {
  display: inline-block;
  background-color: rgb(210, 195, 195);
  border-radius: 5px;
  animation-name: animacao;
  animation-duration: 5s;
  position: relative;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 2px black;
}

.Blastoise:after {
  position: absolute;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: -1;
  box-shadow: 0 5px 15px black;
}

.Blastoise:hover {
  transform: scale(1.2, 1.2);
}

.Texto3 {
  text-align: center;
  font-family: "Flexo-Demi", arial, sans-serif;
  font-size: 115%;
}